:host {
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem 2rem;

  a {
    color: var(--blue-10);

    &:hover {
      color: var(--blue-5);
    }
  }
}
