:root {
  --neutral-0: #fff;
  --neutral-1: #{rgba(lightgray, 0.1)};
  --neutral-5: #{rgba(lightgray, 0.5)};
  --neutral-10: lightgray;
  --blue-1: #{rgba(#009FFD, 0.1)};
  --blue-5: #{rgba(#009FFD, 0.5)};
  --blue-10: #009FFD;
  --font-default: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--neutral-1);
  font-family: var(--font-default);
}

article {
  background-color: var(--neutral-0);
  margin: 0.5rem auto;
  max-width: 50rem;
  min-height: 10rem;
  border: 1px solid var(--neutral-10);
  border-radius: 8px;
  padding: 0 1rem;
}
